@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.razorpay-payment-button {
    display: flex;
    height: 50px;
    width: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 46%;
    margin-top: 15%;
    border: none;
    background: #ff6666;
    border-radius: 20px;
    box-shadow: 6px 3px 3px #ffe6e6;
    font-size: 20;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

p{
    text-align: center;
    margin-top: 20px;
    font-size: 30;
    color: white;
}